@import '../Global/foundation/mixin';
.featured__wrapper {
  width: 100%;
  padding: 20px;
}
.featured-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  @include responsive_max425 {
    font-size: 18px;
  }
}
.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-all {
  margin: 20px 0;
  color: #339af0;
  text-align: right;
  cursor: pointer;
}