.favorite {
  padding: 25px;
  
  .title {
    font-size: var(--default-text-title);
    font-weight: 700;
  }
  .favorite-list {
    margin-top: 20px;
  }
}
.nodata {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}