.customMUI-login {
  & .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
  .css-o943dk-MuiFormLabel-root-MuiInputLabel-root,
  .css-10botns-MuiInputBase-input-MuiFilledInput-input {
    font-size: 14px;
  }
  & .css-1wc848c-MuiFormHelperText-root {
    margin-left: 0;
    font-size: 12px;
  }
}