.user-order__wrapper {
  .item-header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #495057;
    & .item-title {
      width: 20%;
      margin: auto 0;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color);
    }
  }
  & .item-order__wrapper {
    width: 100%;
    margin: 10px 0;
    & .OI__wrapper {
      margin: 10px 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    & .OI-body {
      width: 100%;
      display: flex;
      & .OI-item {
        width: 20%;
      }
      & .OI-name {
        width: 20%;
        & .OI-name-text {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
        }
      }
      & .OI-total {
        width: 25%;
        text-align: center;
        & .OI-amount {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
      }
      & .OI-status, & .OI-ship {
        width: 20%;
        & span {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
        }
      }
      & .OI-status{
        width: 25%;
      }
      & .OI-manipulation {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .OI-btn__wrapper {
          & .OI-btn {
            width: 100%;
            text-align: center;
          }
          & .cl-red {
            color: red;
          }
        }
      }
    }
  }
}
.nodata {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.dialog-order {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 800px;
  }
}
.order__wrapper-user {
  min-height: 500px;
}