@import '../Global/foundation/mixin';
.category__wrapper {
  width: 100%;
  min-height: calc(80vw/5);
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border: 1px solid #74c0fc;
  }
}
.img__wrapper {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: calc(80vw/6);
  overflow: hidden;
}
.category-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: calc(80vw/6);
}
.category-text {
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 20px;
  @include responsive_max992 {
    font-size: 16px;
  }
  @include responsive_max425 {
    font-size: 10px;
  }
}