.product-list__wrapper {
  display: flex;
  margin-top: 100px;
  & .box__right {
    width: 100%;
    & .banner__wrapper {
      height: 200px;
      margin: 0 5% 0 2%;
      margin-bottom: 20px;
      & .banner img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    & .search-box {
      margin: 0 5% 0 2%;
      margin-bottom: 20px;
      padding: 10px;
    }
    & .tags-and-lst {
      box-shadow: 0px 3px 1px -2px RGB(0 0 0/20%), 0px 2px 2px 0px RGB(0 0 0/14%), 0px 1px 5px 0px RGB(0 0 0/12%);
      background-color: #fff;
      margin: 0 5% 0 2%;
      margin-bottom: 20px;
      & .page {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
  
  
  & .filter-icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }
  & .iconActive {
    display: block;
  }
  & .iconUnactive {
    display: none;
  }
}
.box__tag {
  width: 30%;
  transition: width 1s ease-in-out;
}
.active {
  display: block;
}
.unactive {
  width: 0%;
  display: none;
}