@import '../../components/Global/foundation/mixin';

.product-box {
  display: flex;
  padding: 10px;
  & .product-img__list {
    min-width: 40%;
    & .css-i4bv87-MuiSvgIcon-root {
      width: 30px;
      height: 30px;
    }
    & .product-img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      @include responsive_max768 {
      }
    }
    & .sub-list-img {
      padding: 10px;
      justify-content: center;
      & .btn-img {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 10px;
        margin: 0 10px;
        @include responsive_max992 {
          width: 30px;
          height: 30px;
          margin: 0 8px;
        }
        & .product-img-sub {
          width: 45px;
          height: 45px;
          border-radius: 10px;
          object-fit: cover;
          @include responsive_992 {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  & .product-info {
    width: 100%;
    padding: 0 10px;
    & .info-title {
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
    }
    & .info-product-title {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
    }
    & .info-rating {
      width: 100%;
      text-align: center;
      & .rate-star {
        color: black;
      }
      & .numOfVoter {
        margin-left: 20px;
        font-size: 12px;
      }
    }
    & .info-describe {
      font-size: 16px;
      padding-top: 10px;
      padding-left: 10px;
      min-height: 300px;
    }
  }
  & .product-btns {
    display: flex;
    justify-content: center;
    & button {
      cursor: pointer;
      background-color: white;
      color: black;
      margin: 0 10px;
      font-size: 16px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    & .icon-tym {
      &:hover {
        background-color: #ffe3e3;
      }
      &.active {
        color: red;
      }
    }
    & .icon-cart {
      &:hover {
        background-color: #fa5252;
        color: white;
      }
    }
    
  }
}

// Subcontent
.sub-content__wrapper {
  padding: 10px;
  display: flex;
  & .sub-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
  }
  & .line {
    width: 1px;
    height: inherit;
    margin: 0 20px;
    background-color: black;
  }
  & .sub-info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .info {
      text-align: center;
      & .item {
        padding: 5px 0;
        
        & span {
          font-size: 14px;
          @include responsive_max992 {
            font-size: 10px;
          }
        }
        & .title {
          font-weight: 700;
          margin-right: 10px;
          color: #868e96;
          @include responsive_max992 {
            margin-right: 5px;
          }
        }
        & .value {
          color: #fa5252;
        }
      }
    }
  }
  & .sub-address {
    width: 150px;
    font-size: 13px;
    @include responsive_max992 {
      width: 120px;
      font-size: 11px;
    }
  }
}

.describe__wrapper {
  &  .css-ahj2mt-MuiTypography-root {
    font-size: 20px;
    font-weight: 700;
  }
  & .css-i4bv87-MuiSvgIcon-root {
    font-size: 30px;
    font-weight: 700;
  }
  & .table-info {
    padding: 0 10%;
    & .css-1wvnaxz-MuiTableCell-root.MuiTableCell-head,
    .css-1nslmh4-MuiTableCell-root.MuiTableCell-head {
      font-size: 18px;
      text-align: center;
    }
    & .css-132a6sb-MuiTableCell-root.MuiTableCell-body,
    .css-1bhpkcd-MuiTableCell-root.MuiTableCell-body {
      text-align: center;
    }
  }
}