@import '../Global/foundation/mixin';
@import '../Global/foundation/variable';
.search {
  width: 100%;
}
.search .search-input {
  width: 80%;
  & legend {
    width: 90px;
  }
  @include responsive_max425 {
    width: 70%;
  }
}
.search .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.search .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.search .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 16px;
}
.search .search-btn {
  background-color: var(--default-bg-color);
  color: var(--text-color);
  height: 56px;
  width: 15%;
  font-size: 16px;
  margin-left: 4%;
  border: 1px solid #000000;
  transition: all 1s ease-in-out;
  &:hover {
    background-color: var(--default-btn-color);
    color: var(--default-btn-text);
  }
  @include responsive_max992 {
    font-size: 14px;
  }
  @include responsive_max768 {
    font-size: 14px;
  }
  @include responsive_max425 {
    width: 10%;
    font-size: 12px;
    margin-left: 2%;
  }
}