@import '../../../components/Global/foundation/mixin';
.wrapper {
    display: flex;
    & .box-input {
        width: 70%;
        padding: 20px;
        & .logo {
            width: 100%;
            font-family: 'Caramel', cursive;
            color: #000;
            font-size: 50px;
            font-weight: 700;
        }
        & .stepper {
            width: 50%;
            & span {
                font-size: 12px;
            }
            & text {
                font-size: 12px;
            }
        }
    }
    & .box-price {
        width: 30%;
        padding: 20px;
        background-color: #DBDBDB;
        min-height: 100vh;
        padding-top: 40px;
        & .item {
            display: flex;
            font-size: 12px;
            width: 100%;
            margin: 20px 0;
            @include responsive_min992 {
                font-size: 14px;
            }
            @include responsive_min1200 {
                font-size: 16px;
            }
            & .title {
                font-weight: 700;
                width: 30%;
                text-align: right;
            }
            & .price {
                width: 70%;
                text-align: right;
            }
        }
    }
}