@import './foundation/';
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@600&family=Roboto:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f3f5;
}
.mg-top-100 {
  margin-top: 100px;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.wrapper {
  margin-top: 100px;
}
.hight-line {
  height: 100%;
  border: 1px solid red;
}
.Toastify__toast-body {
  font-size: 14px;
}
.dialog-product-lst {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 80%;
  }
}
.dialog-sale-off {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 60%;
  }
}
.vendor {
  .MuiPaper-root  {
    background-color: #202123 !important;
    color: #f8f9fa !important;
  }
  .MuiListItem-root:hover {
    background-color: #2a2b32 !important;
  }
}
.none {
  display: none;
}
.pm-mui {
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px;
  }
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
  }
  .MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
  }
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
    outline: none !important;
  }
  .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-size: 14px;
    font-weight: 600;
  }
  .MuiDataGrid-row,
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell--textLeft,
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
    min-height: 90px !important;
    max-height: 90px !important;
  }
  .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
  }
  .css-17jjc08-MuiDataGrid-footerContainer {
    min-height: 0 !important;
  }
}
.new-watch {
  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 14px !important;
  }
  .css-1wc848c-MuiFormHelperText-root.Mui-error {
    font-size: 12px;
  }
  & .group {
    .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root,
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
      font-size: 12px !important;
    }
  }
}
.profile-store {
  & .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
  .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input,
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px;
  }
  & .css-1wc848c-MuiFormHelperText-root.Mui-error,
  .css-1wc848c-MuiFormHelperText-root {
    font-size: 12px;
    color: #d32f2f;
  }
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px !important;
}
.res-shop{
  & .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
  .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 14px;
  }
  & .css-1wc848c-MuiFormHelperText-root.Mui-error,
  .css-1wc848c-MuiFormHelperText-root {
    font-size: 12px;
    color: #d32f2f;
  }
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px !important;
}