@import './foundation/';
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@600&family=Roboto:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f3f5;
}
.mg-top-100 {
  margin-top: 100px;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.wrapper {
  margin-top: 100px;
}
.hight-line {
  height: 100%;
  border: 1px solid red;
}
.Toastify__toast-body {
  font-size: 14px;
}
.dialog-product-lst {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 80%;
  }
}
.dialog-sale-off {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 60%;
  }
}